.default.light {
    #app {
        background-color: #ffffff;
        color: #2c3e50;

        a {
            &.router-link-exact-active {
                color: #2c3e50;
            }
        }
    }
}